body
{
    background-image: url(garfield-dim-2.png); background-size: contain;
    background-repeat: no-repeat; background-attachment: fixed;
}

#bio
{
    background-color: lightcoral;
}

#bio ul
{
    display: table;
    margin: auto auto;
}

#political
{
    color: orange;
    font-family: fantasy;
    font-size: xx-large;
}

a:hover
{
    background-color: yellow;
}

div.small-hint
{
    font-size: small;
    text-align: center;
}

h1
{
    text-align: center;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}